div.recipe-container {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -250px;
  margin-left: -200px;
  height: 300px;
  width: 450px;
}

#recipe {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

div.recipe-body {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  height: 300px;
}

div.left {
  position: relative;
  top: -200px;
  left: -200px;
  width: 400px;
  height: 280px;
  overflow-y: scroll;
  font-size: large;
}

#ingredient {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

div.right {
  position: relative;
  top: -480px;
  right: -270px;
  width: 400px;
  height: 280px;
  overflow-y: scroll;
  font-size: large;
}

#direction {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#nextrecipe {
  position: absolute;
  top: 560px;
  left: 410px;
  padding: 10px;
  width: 200px;
  font-size: 17px;
  text-align: center;
  background-color: rgb(240, 245, 248);
  color: black;
  border: 2px solid #88b6e0;
}

td.food {
  border-top: 1px solid black;
  text-align: left;
}

td.step {
  border-top: 1px solid black;
  text-align: left;
}
