#top-bar {
  height: 35px;
}

#sf {
  font-size: 20px;
  float: right;
}

#top-date {
  float: left;
  left: 50%;
  font-size: 20px;
}

#nav {
  display: block;
  position: relative;
  left: 50%;
  margin-left: -65px;
  width: 130px;

  background-color: #f3f7fa;
  border: 2px solid #88b6e0;
  font-weight: bold;
  font-size: 15px;
}

#nav:hover {
  background-color: #88b6e0;
  color: white;
}
