body {
  background: #daedf5;
}

div.inventory-container {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-top: -250px;
  margin-left: -513px;
  height: 600px;
  width: 1026px;
}

ul {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 10px;
}

ul li {
  position: relative;
  font-size: 18px;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.addBtn {
  padding: 10px;
  font-size: 18px;
  background: #d9d9d9;
  cursor: pointer;
}
