body {
    background: #daedf5;
}

h1 {
    text-align: center;
    display: inline-block;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-top: 5px;
}

div.row {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -400px;
    height: 400px;
    width: 800px;
}

div.col {
    float: left;
    width: 49%;
    height: 100%;
}

#split {
    width: 1%;
}

#temp-container {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#pro-container {
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: relative;
}

.left-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.right-inner {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button.temp {
    float: left;
    font-size: 2em;
    margin: 0 10px;
}

img.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

figure.newProfile {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

img.newProfile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

figure {
    display: inline-block;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -500px;
    height: 400px;
    width: 1000px;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 50px auto;
    border: 1px solid #999;
    width: 60%;
}

form.profile-creation {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: #eee;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
